.perfilUser
{
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;  
  padding: 5px;
  float: left;
  display: inline-block;
  border: 1px solid #919191;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: #a39b9b 0px 0px 8px 0px inset;

}
img
{
  float: left;
  display: block;
  margin: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding: 2px;
}
fieldset
{
  
  clear: both;
  padding: 5px;
  margin: 5px;
}
.lbldateUser
{
  
  display: block;
  margin-left: 5px;

}
.txtdateUser
{
  width: 200px;
  margin: 5px;
  display: block;
}
.divRadio
{
  /*border: 1px solid red;*/
  width:70px;
  height: auto;
  margin-bottom: 2px;
}
.radioDateUser
{
  clear: both;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
h5
{
  font-size: 18px;
  margin: 10px;
}
.seccionesCreadas
{
  width: auto;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 60px;
  padding: 5px 5px 5px 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: #a39b9b 0px 0px 8px 0px inset;
  text-align: left;
  float :left;
  display: block;
}
hr{
  clear: both;
    border: 0;
    height: 1px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#dateUser button{
  clear:both;
  margin:0 auto;
  width:100px;
  height:31px;
  background:#696969;
  text-align:center;
  line-height:25px;
  color:#FFFFFF;
  font-size:15px;
  font-weight:bold;
  display: block;
  margin-top: 5px;
}
#checkPass
{
  margin: 5px;
}
textarea
{
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 5px;
}